progress-bar {
  background-color: rgb(255, 4, 180);
}

#col a .card:hover {
  color: rgb(255, 4, 180);
  border-color: rgb(255, 4, 180);
}
#col:hover {
  color: rgb(5, 184, 166);
  border-color: rgb(44, 114, 107);
}

a {
  color: blue;
}
